/* Add CSS Styling */
.odd {
    background-color: #ff7f7f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.large {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}
